@import "tailwindcss";


@layer base {
  body {
    /* 
      Set the default background to dark. 
      Anti-aliased makes the fonts look thinner and much more premium on Mac/iOS 
    */
    @apply bg-[#0A0A0A] text-white overflow-x-hidden antialiased selection:bg-[#CCFF00] selection:text-[#0A0A0A];
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  /* Hides standard browser scrollbars for a cleaner, app-like feel */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
